body {
    background-color: rgba(17, 16, 16, 0.952);
    background-image: url(backgr.png.png);
    background-repeat: no-repeat;
}

.main-theme {
    background-color: rgba(0, 0, 0, 0.664);

    border-radius: 25px;
    padding: 20px;
    margin: 100px;

}

h1 {
    color: rgba(240, 248, 255, 0.815);
}